* {
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

.container {
  width: 80%;
  margin: 0px auto;
}

nav {
  background-color: black;
}

nav ul {
  list-style-type: none;
  padding: 20px 0px;
}

nav li {
  display: inline;
  margin: 0px 10px;
}

a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: grey;
  padding: 20px 0px;
}

header {
  display: flex;
  align-items: center;
  /*alineacion vertical.SIEMPRE EN DISPLAY FLEX*/
  background-color: #acc6a1;
}

header .titulo {
  flex: 3;
  text-align: center;
}

header .logo {
  flex: 1;
}

.principal {
  display: flex;
  background-color: #f1f8d7;
}

section {
  flex: 2;
  background-color: #f1f8d7;
}

article h3 {
  margin-bottom: 20px;
  border-bottom: double black 2px;
  width: 50%;
}

article img {
  /*AlINEAR UNA IMAGEN AL CENTRO EN HORIZONTAL*/
  display: block;
  margin: 30px auto;
}

aside {
  flex: 1;
  background-color: #acc6aa;
}

aside ul {
  list-style-type: none;
  margin: 55px 0px 50px 100px;
}

aside li{
  margin-bottom: 10px;
}
aside img{
  display:block;
  margin:50px auto;
}
footer {
  background-color: #77628c;
  padding: 25px 0;
}
footer p{
  text-align: center;
}
