* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 5px;
}

/*@import url('fonts/Merriweather');*/

/*@import url('fonts/Oswald');*/

/*@import url('fonts/Indie+Flower');*/

body {
  background-color: #e1e1e1;
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Merriweather Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0px auto;
}

nav {
  background-color: black;
}

nav ul {
  list-style-type: none;
  padding: 20px 0px;
}

nav li {
  display: inline;
  margin: 0px 10px;
    /*padding: 20px 0px;*/
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: grey;
  padding: 20px 0px;
}

header {
  display: flex;
  align-items: center;
  background-color: #71a0a5;
}

header .titulo {
  flex: 2;

  text-align: center;
}

header .logo {
  flex: 2;
  background-color: grey;

}
header .logo img{
  display:block;
  margin: auto;
}
.principal {
  display: flex;
  background-color: #f1f1d1;
}
header img{
  border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
 }
header img:hover {
    box-shadow: 0 0 2px 8px rgba(0, 255, 0, 1);
}
section {
  flex: 2;
}
article *{
  margin-top:10px;
}
article img{
  border:2px solid black;
  display:block;
  margin:10px auto;
}
article img{
  /*width:400px;*/
  /*display:block;*/

}
aside {
  flex: 1;
  background-color: #acc6aa;
}

footer {
  background-color: #77628c;
}
